<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span hpdTranslate="patientDashboardApp.patientMsTask.detail.title">Task</span></h2>

        <hr />

        <hpd-alert-error></hpd-alert-error>

        <hpd-alert></hpd-alert>

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.id">Id</span></dt>
          <dd>
            <span>{{ task.id }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.name">Name</span></dt>
          <dd>
            <span>{{ task.name }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.description">Description</span></dt>
          <dd>
            <span>{{ task.description }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.schedule">Schedule</span></dt>
          <dd>
            <span>{{ task.schedule | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.scheduledAt">Scheduled At</span></dt>
          <dd>
            <span>{{ task.scheduledAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.duration">Duration</span></dt>
          <dd>
            <span>{{ task.duration }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.status">Status</span></dt>
          <dd>
            <span hpdTranslate="{{ 'patientDashboardApp.ScheduleStatus.' + task.status }}">{{ task.status }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.location">Location</span></dt>
          <dd>
            <span>{{ task.location }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.caseId">Case Id</span></dt>
          <dd>
            <span>{{ task.caseId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.attendantId">Attendant Id</span></dt>
          <dd>
            <span>{{ task.attendantId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.teamId">Team Id</span></dt>
          <dd>
            <span>{{ task.teamId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.patientId">Patient Id</span></dt>
          <dd>
            <span>{{ task.patientId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.attendant">Attendant</span></dt>
          <dd>
            <span>{{ task.attendant }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ task.createdDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.modifiedDate">Modified Date</span></dt>
          <dd>
            <span>{{ task.modifiedDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.createdBy">Created By</span></dt>
          <dd>
            <span>{{ task.createdBy }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsTask.modifiedBy">Modified By</span></dt>
          <dd>
            <span>{{ task.modifiedBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
