@if (account) {
<!--METRIC-PROFILE-->
<div class="row">
    <div class="col-md-2 round-border bg-primary">
        <div class="dashboard-component-center mt-1">
            @if (account.imageUrl) {
            <img [src]="account.imageUrl" alt="profile image">
            } @else {
            <span class="profile-placeholder img-fluid rounded p-1">
            </span>
            <br />
            }
        </div>
        <div class="p-1 dashboard-component-right">
            <button class="btn btn-primary btn-small">
                <fa-icon icon="camera"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col-md-8 round-border dashboard-component-center">
        <!--TEMP, PRESSURE, HEART RATE, SUGAR LEVEL--><!-- Metrics Panel -->
        <jhi-metric-panel [metricItems]="topCards" (selectedItem)="metricSelected($event)"></jhi-metric-panel>
        <!--EMERGENCIES, ALERGIES, DIET PLAN, SERVICE PLAN-->
        <jhi-metric-panel [metricItems]="lowCards" (selectedItem)="metricSelected($event)"></jhi-metric-panel>

    </div>
    <div class="col-md-2 round-border p-3 dashboard-component-right">
        <div class="row d-flex justify-content-end">
            <div class="col-md-*">
                <span>{{account.firstName}} {{account.lastName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <span>{{phoneNumber}}</span>
                <span *ngIf="!phoneNumber">Phone number unavailable</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <span>{{account.email}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <span>{{membership}}</span>
                <span *ngIf="!membership">Membership info unavailable</span>
            </div>
        </div>
    </div>
</div>
<!--NAVBAR-->
<div class="row d-flex justify-content-end mt-1">
    <div class="col-md-12 border border-primary round-border dashboard-component-center">
        <nav class="navbar navbar-expand-lg navbar-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="page === 'status'? 'highlight' : ''"
                                (click)="openPage('status')" aria-current="page" href="#">Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="page === 'about'? 'highlight' : ''"
                                (click)="openPage('about')" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="page === 'address'? 'highlight' : ''"
                                (click)="openPage('address')" aria-current="page" href="#">Address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="page === 'membership'? 'highlight' : ''"
                                (click)="openPage('membership')" aria-current="page" href="#">Membership</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="page === 'report'? 'highlight' : ''"
                                (click)="openPage('report')" aria-current="page" href="#">Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="page === 'medications'? 'highlight' : ''"
                                (click)="openPage('medications')" aria-current="page" href="#">Medications</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--STATUS-GRAPHS-->
<div class="row d-flex justify-contents-center">
    <jhi-status *ngIf="page === 'status'"></jhi-status>
</div>
}