@if (account) {
<div class="row">
    <div class="col-md-2 p-0 d-flex justify-content-center">
        <div class="border border-secondary round-border">
            <div class="profile-button">
                <button class="btn btn-primary btn-small">
                    <fa-icon icon="camera"></fa-icon>
                </button>
            </div>
            @if (account.imageUrl) {
            <img [src]="account.imageUrl" alt="profile image">
            } @else {
            <span class="profile-placeholder img-fluid rounded p-1">
            </span>
            }
        </div>
    </div>
    <div class="col-md-* border border-secondary round-border">
        <div class="row">
            <div class="col-md-*">
                <p>{{account.firstName}} {{account.lastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <p>phone number</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <p>{{account.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <p>Membership</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1 pt-1">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Membership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Medications</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
}