.profile-placeholder {
    display: inline-block;
    width: 200px;
    height: 240px;
    background: url('../../content/images/healthconnect-angel.png') no-repeat center top;
    background-size: contain;
}
.round-border {
    border-radius: 5px;
}

.dashboard {
    background-color: teal;
    color: green;
}