<div>
  <h2 id="page-heading" data-cy="PaymentOptionHeading">
    <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.home.title">Payment Options</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-option"
        [routerLink]="['/payment-option/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.home.createLabel">Create a new Payment Option</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error></hpd-alert-error>

  <hpd-alert></hpd-alert>

  @if (paymentOptions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.home.notFound">No Payment Options found</span>
    </div>
  }

  @if (paymentOptions && paymentOptions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr hpdSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" hpdSortBy="id">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="type">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="userID">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.userID">User ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="metadata">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsPaymentOption.metadata">Metadata</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paymentOption of paymentOptions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/payment-option', paymentOption.id, 'view']">{{ paymentOption.id }}</a>
              </td>
              <td>{{ paymentOption.type }}</td>
              <td>{{ paymentOption.userID }}</td>
              <td>{{ paymentOption.metadata }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/payment-option', paymentOption.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/payment-option', paymentOption.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(paymentOption)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
