<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (medication) {
      <div>
        <h2 data-cy="medicationDetailsHeading">
          <span hpdTranslate="patientDashboardApp.patientMsMedication.detail.title">Medication</span>
        </h2>

        <hr />

        <hpd-alert-error></hpd-alert-error>

        <hpd-alert></hpd-alert>

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.id">Id</span></dt>
          <dd>
            <span>{{ medication.id }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.name">Name</span></dt>
          <dd>
            <span>{{ medication.name }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.description">Description</span></dt>
          <dd>
            <span>{{ medication.description }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.patientId">Patient Id</span></dt>
          <dd>
            <span>{{ medication.patientId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.caseId">Case Id</span></dt>
          <dd>
            <span>{{ medication.caseId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.prescription">Prescription</span></dt>
          <dd>
            <span>{{ medication.prescription }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.dosage">Dosage</span></dt>
          <dd>
            <span>{{ medication.dosage }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.status">Status</span></dt>
          <dd>
            <span hpdTranslate="{{ 'patientDashboardApp.MedicationStatus.' + medication.status }}">{{ medication.status }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.startedOn">Started On</span></dt>
          <dd>
            <span>{{ medication.startedOn | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.prescribedById">Prescribed By Id</span></dt>
          <dd>
            <span>{{ medication.prescribedById }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ medication.createdDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.modifiedDate">Modified Date</span></dt>
          <dd>
            <span>{{ medication.modifiedDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.createdBy">Created By</span></dt>
          <dd>
            <span>{{ medication.createdBy }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsMedication.modifiedBy">Modified By</span></dt>
          <dd>
            <span>{{ medication.modifiedBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/medication', medication.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
