<div>
  <h2 id="page-heading" data-cy="ProfileHeading">
    <span hpdTranslate="patientDashboardApp.patientMsProfile.home.title">Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hpdTranslate="patientDashboardApp.patientMsProfile.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-profile"
        [routerLink]="['/profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hpdTranslate="patientDashboardApp.patientMsProfile.home.createLabel">Create a new Profile</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error></hpd-alert-error>

  <hpd-alert></hpd-alert>

  @if (profiles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span hpdTranslate="patientDashboardApp.patientMsProfile.home.notFound">No Profiles found</span>
    </div>
  }

  @if (profiles && profiles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr hpdSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" hpdSortBy="id">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="patientId">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.patientId">Patient Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="firstName">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="middleNames">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.middleNames">Middle Names</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="lastName">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="membership">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.membership">Membership</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="birthDate">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.birthDate">Birth Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="sex">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.sex">Sex</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="bloodGroup">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.bloodGroup">Blood Group</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="mobilePhone">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.mobilePhone">Mobile Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="phoneNumber">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="email">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="cardType">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.cardType">Card Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="cardNumber">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.cardNumber">Card Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="contacts">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.contacts">Contacts</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="address">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="team">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.team">Team</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="imageUrl">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.imageUrl">Image Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="about">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.about">About</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="socialHandle">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.socialHandle">Social Handle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="careAngelName">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.careAngelName">Care Angel Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="careAngelPhone">
              <div class="d-flex">
                <span hpdTranslate="patientDashboardApp.patientMsProfile.careAngelPhone">Care Angel Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (profile of profiles; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a>
              </td>
              <td>{{ profile.patientId }}</td>
              <td>{{ profile.firstName }}</td>
              <td>{{ profile.middleNames }}</td>
              <td>{{ profile.lastName }}</td>
              <td>{{ profile.membership }}</td>
              <td>{{ profile.birthDate | formatMediumDate }}</td>
              <td>{{ profile.sex }}</td>
              <td>{{ profile.bloodGroup }}</td>
              <td>{{ profile.mobilePhone }}</td>
              <td>{{ profile.phoneNumber }}</td>
              <td>{{ profile.email }}</td>
              <td>{{ profile.cardType }}</td>
              <td>{{ profile.cardNumber }}</td>
              <td>{{ profile.contacts }}</td>
              <td>{{ profile.address }}</td>
              <td>{{ profile.team }}</td>
              <td>{{ profile.imageUrl }}</td>
              <td>{{ profile.about }}</td>
              <td>{{ profile.socialHandle }}</td>
              <td>{{ profile.careAngelName }}</td>
              <td>{{ profile.careAngelPhone }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/profile', profile.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/profile', profile.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(profile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (profiles && profiles.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <hpd-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></hpd-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
