<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile) {
      <div>
        <h2 data-cy="profileDetailsHeading"><span hpdTranslate="patientDashboardApp.patientMsProfile.detail.title">Profile</span></h2>

        <hr />

        <hpd-alert-error></hpd-alert-error>

        <hpd-alert></hpd-alert>

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.id">Id</span></dt>
          <dd>
            <span>{{ profile.id }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.patientId">Patient Id</span></dt>
          <dd>
            <span>{{ profile.patientId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.firstName">First Name</span></dt>
          <dd>
            <span>{{ profile.firstName }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.middleNames">Middle Names</span></dt>
          <dd>
            <span>{{ profile.middleNames }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.lastName">Last Name</span></dt>
          <dd>
            <span>{{ profile.lastName }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.membership">Membership</span></dt>
          <dd>
            <span>{{ profile.membership }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.birthDate">Birth Date</span></dt>
          <dd>
            <span>{{ profile.birthDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.sex">Sex</span></dt>
          <dd>
            <span>{{ profile.sex }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.bloodGroup">Blood Group</span></dt>
          <dd>
            <span>{{ profile.bloodGroup }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.mobilePhone">Mobile Phone</span></dt>
          <dd>
            <span>{{ profile.mobilePhone }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ profile.phoneNumber }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.email">Email</span></dt>
          <dd>
            <span>{{ profile.email }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.cardType">Card Type</span></dt>
          <dd>
            <span>{{ profile.cardType }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.cardNumber">Card Number</span></dt>
          <dd>
            <span>{{ profile.cardNumber }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.contacts">Contacts</span></dt>
          <dd>
            <span>{{ profile.contacts }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.address">Address</span></dt>
          <dd>
            <span>{{ profile.address }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.team">Team</span></dt>
          <dd>
            <span>{{ profile.team }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.imageUrl">Image Url</span></dt>
          <dd>
            <span>{{ profile.imageUrl }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.about">About</span></dt>
          <dd>
            <span>{{ profile.about }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.socialHandle">Social Handle</span></dt>
          <dd>
            <span>{{ profile.socialHandle }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.careAngelName">Care Angel Name</span></dt>
          <dd>
            <span>{{ profile.careAngelName }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsProfile.careAngelPhone">Care Angel Phone</span></dt>
          <dd>
            <span>{{ profile.careAngelPhone }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/profile', profile.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
