<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-profile-heading"
        data-cy="ProfileCreateUpdateHeading"
        hpdTranslate="patientDashboardApp.patientMsProfile.home.createOrEditLabel"
      >
        Create or edit a Profile
      </h2>

      <div>
        <hpd-alert-error></hpd-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.id" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.patientId" for="field_patientId">Patient Id</label>
          <input type="text" class="form-control" name="patientId" id="field_patientId" data-cy="patientId" formControlName="patientId" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.middleNames" for="field_middleNames"
            >Middle Names</label
          >
          <input
            type="text"
            class="form-control"
            name="middleNames"
            id="field_middleNames"
            data-cy="middleNames"
            formControlName="middleNames"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.membership" for="field_membership">Membership</label>
          <input
            type="text"
            class="form-control"
            name="membership"
            id="field_membership"
            data-cy="membership"
            formControlName="membership"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.birthDate" for="field_birthDate">Birth Date</label>
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.sex" for="field_sex">Sex</label>
          <input type="text" class="form-control" name="sex" id="field_sex" data-cy="sex" formControlName="sex" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.bloodGroup" for="field_bloodGroup"
            >Blood Group</label
          >
          <input
            type="text"
            class="form-control"
            name="bloodGroup"
            id="field_bloodGroup"
            data-cy="bloodGroup"
            formControlName="bloodGroup"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.mobilePhone" for="field_mobilePhone"
            >Mobile Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="mobilePhone"
            id="field_mobilePhone"
            data-cy="mobilePhone"
            formControlName="mobilePhone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.phoneNumber" for="field_phoneNumber"
            >Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.cardType" for="field_cardType">Card Type</label>
          <input type="text" class="form-control" name="cardType" id="field_cardType" data-cy="cardType" formControlName="cardType" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.cardNumber" for="field_cardNumber"
            >Card Number</label
          >
          <input
            type="text"
            class="form-control"
            name="cardNumber"
            id="field_cardNumber"
            data-cy="cardNumber"
            formControlName="cardNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.contacts" for="field_contacts">Contacts</label>
          <input type="text" class="form-control" name="contacts" id="field_contacts" data-cy="contacts" formControlName="contacts" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.team" for="field_team">Team</label>
          <input type="text" class="form-control" name="team" id="field_team" data-cy="team" formControlName="team" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.imageUrl" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.about" for="field_about">About</label>
          <input type="text" class="form-control" name="about" id="field_about" data-cy="about" formControlName="about" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.socialHandle" for="field_socialHandle"
            >Social Handle</label
          >
          <input
            type="text"
            class="form-control"
            name="socialHandle"
            id="field_socialHandle"
            data-cy="socialHandle"
            formControlName="socialHandle"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.careAngelName" for="field_careAngelName"
            >Care Angel Name</label
          >
          <input
            type="text"
            class="form-control"
            name="careAngelName"
            id="field_careAngelName"
            data-cy="careAngelName"
            formControlName="careAngelName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsProfile.careAngelPhone" for="field_careAngelPhone"
            >Care Angel Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="careAngelPhone"
            id="field_careAngelPhone"
            data-cy="careAngelPhone"
            formControlName="careAngelPhone"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span hpdTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
