<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <h1 jhiTranslate="register.title" data-cy="registerTitle">Registration</h1>

      @if (success) {
      <div class="alert alert-success" jhiTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>
      }

      @if (error) {
      <div class="alert alert-danger" jhiTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>
      }

      @if (errorUserExists) {
      <div class="alert alert-danger" jhiTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>
      }

      @if (errorEmailExists) {
      <div class="alert alert-danger" jhiTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>
      }

      @if (doNotMatch) {
      <div class="alert alert-danger" jhiTranslate="global.messages.error.dontmatch">The password and its confirmation
        do not match!</div>
      }
    </div>
  </div>

</div>