<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-care-plan-item-heading"
        data-cy="CarePlanItemCreateUpdateHeading"
        hpdTranslate="patientDashboardApp.patientMsCarePlanItem.home.createOrEditLabel"
      >
        Create or edit a Care Plan Item
      </h2>

      <div>
        <hpd-alert-error></hpd-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.id" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.patientId" for="field_patientId"
            >Patient Id</label
          >
          <input type="text" class="form-control" name="patientId" id="field_patientId" data-cy="patientId" formControlName="patientId" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.planType" for="field_planType">Plan Type</label>
          <select class="form-control" name="planType" formControlName="planType" id="field_planType" data-cy="planType">
            <option [ngValue]="null">{{ 'patientDashboardApp.CarePlanType.null' | translate }}</option>
            @for (carePlanType of carePlanTypeValues; track $index) {
              <option [value]="carePlanType">{{ 'patientDashboardApp.CarePlanType.' + carePlanType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.detail" for="field_detail">Detail</label>
          <input type="text" class="form-control" name="detail" id="field_detail" data-cy="detail" formControlName="detail" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.cadence" for="field_cadence">Cadence</label>
          <input type="text" class="form-control" name="cadence" id="field_cadence" data-cy="cadence" formControlName="cadence" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.completed" for="field_completed"
            >Completed</label
          >
          <input type="checkbox" class="form-check" name="completed" id="field_completed" data-cy="completed" formControlName="completed" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.sortOrder" for="field_sortOrder"
            >Sort Order</label
          >
          <input type="number" class="form-control" name="sortOrder" id="field_sortOrder" data-cy="sortOrder" formControlName="sortOrder" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.modifiedDate" for="field_modifiedDate"
            >Modified Date</label
          >
          <div class="input-group">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="text"
              class="form-control"
              name="modifiedDate"
              ngbDatepicker
              #modifiedDateDp="ngbDatepicker"
              formControlName="modifiedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="modifiedDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" hpdTranslate="patientDashboardApp.patientMsCarePlanItem.modifiedBy" for="field_modifiedBy"
            >Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span hpdTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
