<div class="status d-flex justify-contents-center w-100">
    <ngx-charts-bar-vertical class='col' [results]='chartItems' [scheme]='colorScheme' [schemeType]="schemeType"
        [animations]='animations' [legend]='showLegend' [legendTitle]='legendTitle' [legendPosition]='legendPosition'
        [xAxis]='showXAxis' [yAxis]='showYAxis' [showGridLines]='showGridLines' [showXAxisLabel]='showXAxisLabel'
        [showYAxisLabel]='showYAxisLabel' [xAxisLabel]='xAxisLabel' [yAxisLabel]='yAxisLabel'
        [showDataLabel]='showDataLabel' [noBarWhenZero]='noBarWhenZero' [gradient]='gradient' [roundEdges]='roundEdges'>
    </ngx-charts-bar-vertical>
</div>