<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stat) {
      <div>
        <h2 data-cy="statDetailsHeading"><span hpdTranslate="patientDashboardApp.patientMsStat.detail.title">Stat</span></h2>

        <hr />

        <hpd-alert-error></hpd-alert-error>

        <hpd-alert></hpd-alert>

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.id">Id</span></dt>
          <dd>
            <span>{{ stat.id }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.patientId">Patient Id</span></dt>
          <dd>
            <span>{{ stat.patientId }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.type">Type</span></dt>
          <dd>
            <span>{{ stat.type }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.name">Name</span></dt>
          <dd>
            <span>{{ stat.name }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.description">Description</span></dt>
          <dd>
            <span>{{ stat.description }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.value">Value</span></dt>
          <dd>
            <span>{{ stat.value }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.secondaryValue">Secondary Value</span></dt>
          <dd>
            <span>{{ stat.secondaryValue }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.unit">Unit</span></dt>
          <dd>
            <span>{{ stat.unit }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.referenceLow">Reference Low</span></dt>
          <dd>
            <span>{{ stat.referenceLow }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.referenceHigh">Reference High</span></dt>
          <dd>
            <span>{{ stat.referenceHigh }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.flag">Flag</span></dt>
          <dd>
            <span hpdTranslate="{{ 'patientDashboardApp.StatFlag.' + stat.flag }}">{{ stat.flag }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.note">Note</span></dt>
          <dd>
            <span>{{ stat.note }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.recordedAt">Recorded At</span></dt>
          <dd>
            <span>{{ stat.recordedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ stat.createdDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="patientDashboardApp.patientMsStat.createdBy">Created By</span></dt>
          <dd>
            <span>{{ stat.createdBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/stat', stat.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
